@page
@model BoredAndBookless.Pages.BibliotekaObrisiModel
@{
    ViewData["Title"] = "Brisanje Biblioteke";
}

<style>
    body {
        background-color: #E6E5E5;
    }
</style>

@if (SessionClass.TipKorisnika == "A")
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item btnSubmit"><a class="btnSubmit" asp-page="./BibliotekaSve"><i class='fas fa-arrow-circle-left'></i> Vrati se nazad</a></li>
        </ul>
    </nav>

    <form method="post">
        <div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Obrisi biblioteku</p>
                </div>

                <div class="form-content">
                    <div style="text-align:center;">
                        <div>
                            <h3 style="color: #56493E;">Da li ste sigurni da želite da obrišete biblioteku?</h3>
                        </div>
                    </div>

                    <div style="text-align: center; padding: 5%">
                        <button type="submit" class="btnSubmit">Da</button>
                    </div>

                    @if (Model.Provera == 1)
                    {
                        <div class="prijava">
                            <div class="alert alert-danger" role="alert" style="text-align: center;">
                                <i class="fas fa-exclamation-triangle"></i> Ne mozete da obrisete biblioteku <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="alert alert-danger" role="alert" style="text-align: center;"><i class="fas fa-exclamation-triangle"></i> Nemate pristup ovoj stranici, samo admin može da obriše biblioteku. <i class="fas fa-exclamation-triangle"></i></div>
}