@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kontakt";
}

<style>
    body {
        background-color: #FAF5EB;
    }
</style>


<div class="container">

    <h1 style="text-align: center; color: #56493E;"> Kontakt </h1>

    <div class="container second-portion">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">
                            <br>
                            <h3 class="title">Email</h3>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp boredandbookless@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="info">
                            <br>
                            <h3 class="title">Telefon</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+381) 612345678
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="info">
                            <br>
                            <h3 class="title">Adresa</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp Aleksandra Medvedeva 14, Niš
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</div>
